@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  margin: 0;
  line-height: 1.25rem;
  background-color: #fdfdfd;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}

a,
#footer a,
a:visited {
  text-decoration: none;
  font-weight: 700;
  color: #000;
}

#footer a:hover,
#footer a:focus,
a:hover,
a:focus {
  text-decoration: underline;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #fff;
  color: #000;
  font-size: 0.8125rem;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #fff;
  color: #000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px #aaa;
  position: fixed;
  z-index: 9999;
}

nav h1 {
  margin: auto;
  margin: 10px 20px;
}

nav h1 a {
  color: #000;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

nav h1 a:hover {
  text-decoration: none;
}

#breadcrumb {
  padding: 16px 40px;
  list-style: none;
  background-color: #fffefe;
  font-size: 0.8125rem;
  margin: 80px 0 0;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}


@media all and (min-width: 1200px) {
  #breadcrumb {
    width: 50%;
  }
}


/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
/* Add a color to all links inside the list */
#breadcrumb li:first-child a {
  text-transform: uppercase;
}

/* ====================== Map ====================== */
#map {
  height: 500px;
  width: 100%;
  background-color: #d0d4d9;
}

#map .leaflet-top.leaflet-left {
  margin-top: 80px;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 0;
  padding: 10px;
}

.filter-options h2 {
  font-weight: normal;
  line-height: 1;
  margin: 10px;
  padding: 0;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #000;
  border-radius: 4px;
  letter-spacing: 0;
  height: 40px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

@media all and (min-width: 600px) {
  .filter-options {
    flex-direction: row;
  }
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}

#restaurants-list li {
  background-color: #fff;
  margin: 15px;
  min-height: 380px;
  text-align: left;
  width: 270px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#restaurants-list li:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#restaurants-list .restaurant-wrapper {
  padding: 15px 30px 25px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

#restaurants-list li h1 {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px 0;
  padding: 0;
}

#restaurants-list p {
  margin: 0;
  padding: 0;
  font-size: 0.8125rem;
}

#restaurants-list li a {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  display: inline-block;
  font-size: 10pt;
  margin: 10px 0 0;
  padding: 10px 32px 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}

#restaurants-list li a:hover {
  background: #000;
  color: #fff;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  right: 0;
  top: 130px;
  height: 500px;
  position: relative;
  width: 100%;
}

@media all and (min-width: 1200px) {
  .inside #map-container  {
    height: 100%;
    position: fixed;
    width: 50%;
    top: 80px;
  }
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.inside #footer {
  bottom: 0;
  position: absolute;
  /* width: 50%; */
  width: 100%;
}

#restaurant-name {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin: 40px 0;
}

#restaurant-img {
  max-width: 100%;
  max-height: 300px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
  font-style: italic;
}

#restaurant-cuisine {
  background-color: #000;
  color: #fff;
  letter-spacing: 10px;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  max-width: 500px;
  width: 80%;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 130px 40px 30px;
  width: 100%;
  text-align: center;
}

@media all and (min-width: 1200px) {
  #restaurant-container,
  #reviews-container {
    width: 50%;
  }
}

#reviews-container {
  padding: 40px 40px 80px;
}

#reviews-container h2 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}

#reviews-list li {
  background-color: #fff;
  display: block;
  list-style-type: none;
  margin: 20px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  flex: 1 0 100%;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media all and (min-width: 900px) {
  #reviews-list li {
    flex: 1 0 30%;
  }
}

#reviews-list .review-name {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 10px 0 0;
}

#reviews-list .review-date {
  font-size: 0.8125rem;
  margin: 0 0 10px;
}

#reviews-list .review-rating {
  margin: 10px 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8125rem;
}

#reviews-list .review-comment {
  font-style: italic;
  margin: 20px 0 0;
  font-size: 0.8150rem;
  line-height: 1.250rem;
}

#restaurant-hours {
  margin: 40px auto 20px;
  text-align: left;
  color: #000;
  border-collapse: collapse;
}

#restaurant-hours td {
  color: #000;
  padding: 5px 10px;
  border-bottom: 1px solid #000;
  font-size: 0.825rem;
}

#restaurant-hours td:first-child {
  border-right: 1px solid #000;
}

#restaurant-hours tr:last-child td{
  border-bottom: 0 solid #000;
}